# Ignore EVERYTHING by default
*

# --- Keep core repoducibility files ---
!.gitignore
!README.md
!README*.md
!LICENSE*
!environment.yml

# --- Allow directory structure ---
!notebooks/
!src/
!scripts/
!data/
!data/prepared/
!data/prepared/lodopab/
!data/prepared/lodopab/train/
!data/prepared/lodopab/test/
!data/prepared/lodopab/val/
!results/

# --- Keep code + notebookes ---
!**/*.py
!**/*.ipynb


# --- Keep patch metadata (but not heavy patch files) ---
!**/patch_manifest.csv
!**/patch_meta.json
!data/prepared/**/*.csv
!data/prepared/**/meta.json